@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background-color: #f8ffe5;
  --heading-color: #4e4187;
  --blue: #2273c9;
  --green: #7dde92;
  --padding: 1rem;
  --border: 1px solid var(--heading-color);
  --shadow: 3px 3px 5px #000;
  --font: "Inter";
}

header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

header img {
  grid-column: 2;
  align-self: center;
}

header nav {
  grid-column: 4;
  align-self: center;
  display: flex;
  gap: 10px;
}

header nav a {
  padding: 10px 20px;
  background-color: var(--heading-color);
  color: var(--background-color);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

h2 {
  font-size: large;
  font-family: var(--font);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--heading-color);
}

h3 {
  font-size: medium;
  font-family: var(--font);
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--heading-color);
}

.home-hero {
  position: relative;
  /* display: inline-block;  */
  display: block;
  line-height: 0; 
  /* width: 100vw; */
  height: auto;
}

.home-hero img {
  display: block;
  max-width: 100%;
  width: 100vw;
  height: auto;
}

.home-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--heading-color);
  margin: 0;
  padding: 0 15px; 
  width: 90%; 
  max-width: 100%; 
  text-align: center;
  font-size: 2.5rem; 
  line-height: 1.2; 
}

.about-hero {
  position: relative;
  /* display: inline-block;  */
  display: block;
  /* width: 100vw; */
  height: auto;
}

.about-hero img {
  display: block;
  max-width: 100%;
  width: 100vw;
  height: auto;
}

.about-hero h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--heading-color);
  margin: 0;
  padding: 0 15px; 
  width: 90%; 
  max-width: 100%; 
  text-align: center;
  font-size: 2.5rem; 
  line-height: 1.2; 
}

.about-hero-article {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* align-items: center;
  justify-self: center; */
  display: flex;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  justify-content: center;
  width: 75vw;
  background: var(--background-color);
  border: 1px solid #000;
  padding: var(--padding);
  box-shadow: 0 0 30px #111;
  margin: 0 auto;
}

.about-hero-article img {
  justify-self: flex-end;
  margin: 5%;
  justify-self: center;
  align-self: center;
  border: 1px solid rgba(0 0 0 / 0.3);
  box-shadow: 0 0 30px #777;
  width: 75%;
  height: auto;
}

.about-hero-article p {
  justify-self: flex-start;
  padding: 5%;
  font-size: 1.5rem;
  color: var(--blue);
  font-weight: 300;
  max-width: 50%;
}


h1 {
  position: relative;
  text-align: center;
  margin-top: 10px;
  background-color: var(--background-color);
  overflow: hidden;
  font-size: 4rem;
  font-weight: 900;
  color: var(--heading-color);
  box-shadow: 0 0 30px #777;
  border: var(--border);
}

.hero article img {
  float: right;
  margin: 0 0 15px 15px;
  border: 1px solid rgba(0 0 0 / 0.3);
  box-shadow: 0 0 30px #777;
  width: 40%;
  height: auto;
  /* clear:both */
}

.hero article {
  position: relative;
  width: 75vw;
  height: fit-content;
  background: var(--background-color);
  border: 1px solid #000;
  padding: var(--padding);
  box-shadow: 0 0 30px #111;
  margin: 0 auto;
  overflow: hidden;
}

.home-details {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 10px;
  background-color: var(--background-color);
  padding: var(--padding);
  margin: 60px;
  border: var(--border);
}

.home-details article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  gap: 10px;
  padding: 10px;
}

.home-details article img {
  width: 33vw;
  height: auto;
  box-shadow: 0 0 30px #777;
}

.home-details article div {
  padding: 5%;
}

.history {
  display: grid;
  grid-template-rows: 100px 1fr;
  background-color: var(--background-color);
  justify-items: center;
  align-items: center;
  padding: var(--padding);
  padding-bottom: 2rem;
  margin: 60px;
  border: var(--border);
}

.history article {
  grid-row: 2;
  gap: 10px;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.history h2 {
  grid-row: 1;
  grid-column: span 3;
  margin: 10%;
  padding: 20px;
}

.history article img {
  max-width: 30vw;
  height: auto;
  box-shadow: 0 0 30px #777;
}

.adventure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background-color);
  padding: var(--padding);
  margin: 60px;
  border: var(--border);
}

.adventure h2 {
  grid-row: 1;
  grid-column: span 5;
}

.adventure img {
  align-self: center;
  width: 100%;
  height: auto;
  grid-row: 2;
  box-shadow: 0 0 30px #777;
}

.people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background-color);
  padding: var(--padding);
  margin: 60px;
  border: var(--border);
}

.people h2 {
  grid-row: 1;
  grid-column: span 3;
}

.people img {
  align-self: center;
  width: 100%;
  height: auto;
  grid-row: 2;
  box-shadow: 0 0 30px #777;
}

.contact-form {
  display: grid;
  grid-template: 10% 1fr / repeat(2, 1fr);
  gap: 10px;
  background-color: var(--background-color);
  padding: var(--padding);
  margin: 60px;
  border: var(--border);
}

.contact-form h2 {
  grid-column: span 2;
  justify-self: center;
  align-self: center;
}

.contact-form article {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.contact-form article p {
  justify-self: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  text-align: center;
}

.contact-form article img {
  width: 90%;
  height: auto;
  margin-bottom: 10%;
  align-self: center;
  justify-self: center;
  box-shadow: 0 0 30px #777;
}

.contact-form form {
  padding: 15px;
  border: var(--border);
  margin: 5%;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form form h2 {
  margin-bottom: 1rem;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.contact-form form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
  width: 100%;
  padding: 8px;
  border: var(--border);
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 1em;
}

.contact-form form fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-form form legend {
  font-weight: bold;
  padding: 0 3px;
}

.contact-form form fieldset label,
.contact-form form div label[for="newsletter"] {
  display: inline-block;
  margin-left: 4px;
  font-weight: normal;
  vertical-align: middle;
  margin-bottom: 0;
}

.contact-form form input[type="radio"],
.contact-form form input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 2px;
}

.contact-form form fieldset br {
  content: "";
  display: block;
  margin-bottom: 4px;
}

.contact-form form div:has(> #newsletter) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-form form button[type="submit"] {
  display: inline-block;
  padding: 10px;
  background-color: var(--heading-color);
  color: var(--background-color); 
  text-decoration: none;
  border: none;  
  border-radius: 5px;
  cursor: pointer;     
  text-align: center;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 400px;
  justify-items: center;
  align-items: center;
  gap: 10px;
  background-color: var(--background-color);
  padding: var(--padding);
  margin: 60px;
  border: var(--border);
  height: fit-content;
}

.contact-info article {
  grid-row: 1;
}

.contact-info map {
  grid-row: 2;
  grid-column: span 3;
  width: 100%;
  height: 100%;
  border: var(--border);
}

.contact-info map iframe {
  width: 100%;
  height: 100%;
  border: var(--border);
}

.trips-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
  background-color: var(--background-color);
  padding: var(--padding);
  margin: 60px;
  border: var(--border);
}

.trips-display article {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 10px;
  background-color: var(--background-color);
  padding: var(--padding);
  margin: 10px;
  border: var(--border);
  border-radius: 10px;
  width: 90%;
}

.trips-display article img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 30px #777;
}

.trips-display article h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--heading-color);
}

.trips-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: var(--background-color);
  padding: var(--padding);
  margin: 60px;
  border: var(--border);
}

.trips-info article {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 10px;
  background-color: var(--background-color);
  padding: var(--padding);
  border: var(--border);
  border-radius: 10px;
}

.button-link {
  display: inline-block;
  padding: 10px;
  background-color: var(--heading-color);
  color: var(--background-color); 
  text-decoration: none;
  border: none;  
  border-radius: 5px;
  cursor: pointer;     
  text-align: center;
}

.trips-info table {
  grid-column: span 2;
  width: 100%;
  border: var(--border);
  border-radius: 10px;
  padding: var(--padding);
  gap: 10px;
}

.trips-info table td {
  padding: 10px;
  text-align: left;
  border: var(--border);
}

.trips-info table th {
  background-color: var(--heading-color);
  color: var(--background-color);
}

main {
  font-family: var(--font);
  margin: 2rem auto;
}

p {
  font-family: var(--font);
  font-size: 1.5rem;
  color: var(--blue);
  text-align: justify;
  font-weight: 300;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
  gap: 1rem;
  border-top: var(--border);
  background-color: var(--background-color);
  text-decoration: none;
}

.footer p {
  grid-column: 2;
  margin: 0;
  text-align: center;
}

.footer .sociallinks {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer .sociallinks img {
  height: 24px;
  width: auto;
}
