@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --background-color: #F8FFE5;
    --heading-color: #4E4187;
    --blue: #3083DC;
    --green: #7DDE92;
    --padding: 1rem;
    --border: 1px solid #000;
    --shadow: 3px 3px 5px #000;
    --font: 'Inter'
}

a {
    text-decoration: none;
}

h2 {
    font-size: large;
    font-family: var(--font);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--heading-color)
}

main {
    font-family: var(--font);
    margin: 2rem auto;
    /* background-color: var(--background-color); */
}

p {
    font-family: var(--font);
    font-size: 1.5rem;
    color: var(--blue);
    text-align: justify;
    font-weight:300;
}

.hero {
    position: relative;
    padding-bottom: 12rem;
}

.hero > img:first-of-type {
    display: block;
    position: absolute;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0 auto;
    z-index: -1; /* This sends the image behind the content */
}

.hero h1 {
    position: relative;
    text-align: center;
    margin-top: 10px;
    background-color: var(--background-color);
    overflow: hidden;
    font-size: 4rem;
    font-weight: 900;
    color: var(--heading-color);
    box-shadow: 0 0 30px #777;

  }

article img{
	float: right;
	margin: 0 0 15px 15px;
	border: 1px solid rgba(0 0 0 / .3);
	box-shadow: 0 0 30px #777;
    width: 40%;
    height: auto;
    /* clear:both */
}

article {
    position: relative;
    width: 75vw;
    height: fit-content;
	background: var(--background-color);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
    margin: 0 auto;
    overflow: hidden;
}