@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --background-color: #F8FFE5;
    --heading-color: #4E4187;
    --blue: #2273C9;
    --green: #7DDE92;
    --padding: 1rem;
    --border: 1px solid var(--heading-color);;
    --shadow: 3px 3px 5px #000;
    --font: 'Inter'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 1.5em;
    color: var(--heading-color);
    background: var(--background-color);
}

header {
    margin: o auto;
    width: 650px
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: var(--blue);
    text-align: center;
}

form {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border: var(--border);
    border-radius: 1rem;
    background-color: aliceblue;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
}

legend {
    padding: .5rem;
    color: var(--heading-color);
    font-size: 1.3em;
    font-weight: 700;
}

label, input, button, select, textarea {
    font-family: var(--font);
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button:hover {
    background-color: var(--green);
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    border-top: var(--border);
}

.form-items {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 3fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}